<%- include('templates/header'); -%>
<div class="jumbotron container mt-3">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Ini adalah web CRUD berbasis Javascript</p>
        <hr class="my-4">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos similique blanditiis asperiores repudiandae quia, voluptates quisquam sequi dolores illum iste ipsa soluta, aliquam impedit aperiam consequuntur sit vel. Magnam, nostrum!</p>
        <a class="btn btn-primary btn-lg" href="/app" role="button">Cobain Yuk!</a>
</div>
<%- include('templates/footer'); -%>
